<body>
<div id="head">
<header>
    <img class="mi" src="/assets/rogo.PNG" width=100px alt="">
    <nav class="nav">
        <ul class="mg">
            <li class="mi"><a href="#about">About</a></li>
            <li class="mi"><a href="#member">Member</a></li>
            <li class="mi"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
    
<div id="e-trans">
   <div id="e-andlog">
        <h1 class="text_e-trans">e-trans</h1>
        <h2 class="loginbox"><a href="#login">ログインする</a></h2>
    </div>
</div>

</div>

<div id=content>

<div id="login_area">
    <h1 class="login_area_title" id="login">Login</h1>
    <div id="login_box">
        <h2>メールアドレス</h2>
        <h2>パスワード</h2>
    </div>

</div>

<div id="about_area">
    <h1 class="about_area_title" id="about">About</h1>
    <h3 class="about_area_slogan">for the players, to the next.<h3>
    <div id="about_sentence_area">
        <div id="about_sentence">
            <p>私たちは育成年代のサッカー選手のキャリアの</p>
            <p>選択肢を広げることを目的に活動しています</p>
            <p><span style="font-family:Segoe UI">e-trans</span>では選手自身の名刺を見ることができます</p>
        </div>
        <img class="about_image" src="/assets/images.JPG" width=451px alt="">
    </div>
</div>

<div id="member_area">
    <h1 class="member_area_title" id=member>Member</h1>
    <div id="top_row">
        <div id="sasou">
            <img class="member_image" src="/assets/images.JPG" width=451px alt="">
            <h3>佐草祐哉</h3>
        </div>
        <div id="ootaka">
            <img class="member_image" src="/assets/images.JPG" width=451px alt="">
            <h3>大嵩諒</h3>
        </div>
    </div>
    <div id="bottom_row">
        <div id="kinugawa">
            <img class="member_image" src="/assets/images.JPG" width=451px alt="">
            <h3>絹川竜史</h3>
        </div>
        <div id="yosino">
            <img class="member_image" src="/assets/images.JPG" width=451px alt="">
            <h3>吉野裕介</h3>
        </div>
    </div>
</div>

<div id="contact_area">
    <h1 class="contact_area_title" id=contact>Contact</h1>
    <h2 class="contact_area_sentence">お気軽にお問い合わせください</h2>
    <h5>お名前(組織名)</h5>
    <h5>メールアドレス</h5>
    <h5>お問い合わせ内容</h5>

</div>

</div>
<footer>
    <div id=icon>
        <img class="icon_twitter" src="/assets/icon_twitter.png" width=2% alt="">
        <img class="icon_instagram" src="/assets/icon_instagram.jpg" width=2% alt="">
    </div>
    <h6 class="copyright">Ⓒ2022 Meadow Japan</h6>

    
</footer>

</body>